name: Deploy to EC2 on main

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu/ProjetoFinalDevOps
            git pull
            sudo docker build -t projeto-final-devops .
            sudo docker stop projeto-final-devops || true
            sudo docker rm projeto-final-devops || true
            sudo docker run -d --name projeto-final-devops -p 80:80 projeto-final-devops
